# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env

# Node
node_modules/
package-lock.json
package.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
# Ignore everything in backend
backend/*
# Except these specific files
!backend/simpletestapp.py
!backend/requirements.txt
!backend/job_library.py
